<h2>Courses</h2>
{{#each course in model}}
  {{#linkTo 'courses.show' course}}
  <div class="course-preview well">
    <div class="course-thumbnail">
      <img src="" />
    </div>
    <div class="course-information">
      <div class="course-title">{{course.title}}</div>
      <div class="course-info">
        <div class="course-rating">{{course.rating}}</div>
        <div class="course-students-number">{{cours.students}}</div>
      </div>
      <div class="course-owner">
        <div class="course-owner-avatar">{{course.id}}</div>
        <div class="course-owner-info">
          <div class="course-owner-name"></div>
          <div class="course-owner-logo"></div>
        </div>
      </div>
    </div>
  </div>
  {{/linkTo}}
  {{title}}
{{/each}}
